.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;

  &.active {
    color: white;
    background-color: #121212;
    border-color: #BB86FC;
  }
}
