.container {
  display: grid;
  padding: 20px;
  text-align: center;
  color: white;
  background-color: #4B4B4B;
  border: 1px solid #BB86FC;
  border-radius: 10px;
  margin: 0 30px;

  input {
    margin: 10px 2px;
  }

  button {
    margin: 10px 0;
  }
}
